<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/marked-highlight/lib/index.umd.js"></script> -->
</head>

<body>
    <div class="top_menu">
        <div class="title">MSBA 6131 AI Teaching Assistant</div>
    </div>
    <div class="chat_window">
        <ul class="messages"></ul>
    </div>
    <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper">
            <input class="message_input" placeholder="Enter your message here..." />
        </div>
        <div class="send_message">
            <div class="icon"></div>
            <div class="text">Send</div>
        </div>
    </div>
    <div class="message_template">
        <li class="message">
            <div class="avatar"></div>
            <div class="text_wrapper">
                <div class="text"></div>
            </div>
        </li>
    </div>


<script>
    class Message {
        constructor(arg) {
            this.text = arg.text;
            this.message_side = arg.message_side;
        }

        draw() {
            let $message = $($('.message_template').clone().html());
            $message.addClass(this.message_side);
            let messageContent = this.message_side === 'left' ? marked.parse(this.text) : this.text;
            $message.find('.text').html(messageContent);
            $('.messages').append($message);
            setTimeout(() => $message.addClass('appeared'), 0);
            this.scrollToBottom();
        }

        scrollToBottom() {
            let $messages = $('.messages');
            $messages.animate({ scrollTop: $messages.prop('scrollHeight') }, 300);
        }
    }

    $(function () {
        let message_side = 'right';

        function getMessageText() {
            return $('.message_input').val();
        }

        function sendMessage(text) {
            if (text.trim() === '') {
                return;
            }
            $('.message_input').val('');
            let $messages = $('.messages');

            let usermessage = new Message({
                text: text,
                message_side: 'right'
            });
            usermessage.draw();

            let waitingMessage = new Message({
                text: 'Working on it...',
                message_side: 'left'
            });
            setTimeout(() => waitingMessage.draw(), 1000);

            $.get("/get", { msg: text }).done(function (data) {
                $('.messages').find('.message.left').last().remove();

                let botMessage = new Message({
                    text: data,
                    message_side: 'left'
                });
                botMessage.draw();
            });
        }

        $('.send_message').click(() => sendMessage(getMessageText()));
        $('.message_input').keyup((e) => {
            if (e.which === 13) {
                sendMessage(getMessageText());
            }
        });

        let writingMessage = new Message({
            text: 'Hi! How can I help you today?',
            message_side: 'left'
        });
        writingMessage.draw();
    });
</script>

<script>
    window.addEventListener("beforeunload", function (e) {
        navigator.sendBeacon("/tab_close", "User closed the tab");
    });
</script>

</body>
</html>